pull_request_creator:
  base_branch:
  repositories:
    - koba-masa/play_with_github
  incremented_version_pattern:
  tag_format:
  release:
    type:
    date:
    time:
  pull_request:
    merge_branch:
    template:
    labels:
      - bug
  issue:
    template:
    labels:
      - bug
